.git
.github
.idea
.vscode
node_modules
public/.htaccess
public/build
public/hot
public/storage
public/vendor
storage
bootstrap/cache
!**/.gitignore
vendor

_ide_*
.dockerignore
.editorconfig
.env*
.gitattributes
.gitignore
.lando.*yml
.phpstorm.meta.php
.phpunit.result.cache
.styleci.yml
**/.DS_Store
auth.json
docker-compose.*yml
Dockerfile
README.md
