/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/auth.json
.idea
.vscode
.env*
!.env.example
.lando.*yml
.phpunit.result.cache
docker-compose.*yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store