html, body
{
    height: 100%;
}

.didasko-blue
{
    color: #154B81;
}

.btn-didasko-blue
{
    width: 100%;
    background: #004a80;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 13px;
    font-size: 17px;
    margin: 20px 0;
}

.bg-didasko
{
    background-color: #154B81;
}


 body {
    background:  #ffffff;
    background-repeat: no-repeat;
  }

  #card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: auto;
    margin: 6rem auto 8.1rem auto;
    width: 40%;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    padding-bottom: 23px;
    padding-top: 13px;
   
  }
   
  #card-changePassword {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: auto;
    margin: 2rem auto 8.1rem auto;
    width: 40%;
    float: left;
    
  }
  #card-changePasswordContent {
    padding: 12px 44px;
   
  }
  #card-changePasswordTitle {
    padding-bottom: 15px;
    padding-top: 13px;
   
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }

  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
 